<section id="about" class="about">
  <div class="container">
    <h1 class="section-title">Про нас</h1>

    <div class="about-content-wrapper">
      <div>
        <p class="about-text">
          Ми — Група Компаній «ПромКонцепт», що з 2003 року займається
          виробництвом меблів для корпоративних клієнтів, державних установ і
          масштабних проєктів.
        </p>
        <p class="about-text">
          Наші виробничі потужності знаходяться у Львівській області
          (Миколаївський район), лише 95 км від кордону з ЄС.
        </p>
        <p class="about-text">
          Ми поєднуємо досвід, сучасні технології та вигідну логістику, щоб
          забезпечити замовників якісними меблями за конкурентною ціною.
        </p>
      </div>

      <img
        class="about-img"
        src="/img/about.jpg"
        alt="image"
        width="120"
        height="120"
      />
    </div>
  </div>
</section>
