<section id="clients" class="clients">
  <div class="container">
    <h1 class="section-title">Наші клієнти та виконані проєкти</h1>
       
    <div class="clients-content-wrapper">
      <div class="swiper clients-swiper">
        <div class="swiper-wrapper clients-list">
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-1.png"
                alt="clients 1"
                width="300"
                height="400"
              />          
              <h3>Укрпошта</h3>
              <p>меблі для 400+ відділень</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-2.png"
                alt="clients 2"
                width="300"
                height="400"
              />          
              <h3>Збройні Сили України </h3>
              <p>меблі для військових частин</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-3.png"
                alt="clients 3"
                width="300"
                height="400"
              />          
              <h3>Судова адміністрація Київської області</h3>
              <p>меблі для залів судових засідань</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-4.png"
                alt="clients 4"
                width="300"
                height="400"
              />          
              <h3>Український Католицький Університет</h3>
              <p>меблі для колегіуму</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-5.png"
                alt="clients 5"
                width="300"
                height="400"
              />          
              <h3>Готель «База», Буковель</h3>
              <p>меблі для готельного комплексу</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-6.png"
                alt="clients 6"
                width="300"
                height="400"
              />          
              <h3>Медичні заклади</h3>
              <p>проєктування, виробництво та монтаж меблів для лікарень</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-7.png"
                alt="clients 7"
                width="300"
                height="400"
              />          
              <h3>GlobalLogic, Rolique</h3>
              <p>офісні меблі для міжнародних IT-компаній</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-8.png"
                alt="clients 8"
                width="300"
                height="400"
              />          
              <h3>Екран Вікносвіт</h3>
              <p>Проектування, виробництво, постачання меблів для мережі магазинів</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="clients-card">
              <img            
                src="/img/clients/client-9.png"
                alt="clients 9"
                width="300"
                height="400"
              />          
              <h3>IT Company Rolique</h3>
              <p>Проектування, виробництво та монтаж меблів для офісів компанії</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>      
      </div>    
      
    </div>
  </div>
</section>
