<section id="contacts" class="contacts">
  <div class="container">
    <h1 class="section-title">Контакти</h1>
       
    <div class="contacts-content-wrapper">
      
      <ul class="contacts-list">
<li>📧 Email: pconcept.sale@gmail.com</li>
<li>📞 Телефон: +38 067 670 58 10</li>
<li>📍 Адреса: Україна, 81610, Львівська обл., Миколаївський р-н, с. Тернопілля, вул. Виробнича, 1</li>
</ul>
      <img
        class="contacts-img"
        src="/img/contacts.jpg"
        alt="image"
        width="120"
        height="120"
      />      
    </div>
  </div>
</section>
