<section class="policy">
  <div class="container">
    <h1 class="section-title">Cookies Policy</h1>

    <p class="policy-text last-update">Last Updated: 2025-09-25</p>

    <p class="policy-text gap-bottom">
      This Cookies Policy explains what cookies are and how we use them. You
      should read this policy to understand what types of cookies we use, what
      data they collect, and how you can manage your preferences.
    </p>

    <p class="policy-text">
      Cookies do not typically contain personally identifiable information.
      However, in some cases, personal data that we store about you may be
      linked to information obtained from cookies. For more details, see our
      Privacy Policy.
    </p>

    <h2 class="policy-h2">1. What Are Cookies?</h2>
    <p class="policy-text">
      Cookies are small text files stored on your device when you visit a
      website. They help websites function properly, remember preferences, and
      collect analytical data.
    </p>

    <h2 class="policy-h2">2. How We Use Cookies</h2>
    <p class="policy-text gap-bottom">We use cookies to:</p>
    <p class="policy-text">Ensure the website functions correctly.</p>
    <ul class="policy-ul">
      <li>Analyze user behavior and improve website performance.</li>
      <li>Personalize your experience and remember preferences.</li>
    </ul>

    <h2 class="policy-h2">3. Types of Cookies We Use</h2>
    <p class="policy-text gap-bottom">
      Cookies can be "session" or "persistent." Session cookies expire when you
      close your browser, while persistent cookies remain stored until manually
      deleted or they reach expiration.
    </p>

    <ul class="policy-ul gap-bottom">
      <li><b>Necessary Cookies</b></li>
    </ul>
    <p class="policy-text">Type: Session Cookies</p>
    <p class="policy-text gap-bottom">
      Purpose: Required for core website functions and security.
    </p>

    <ul class="policy-ul gap-bottom">
      <li><b>Functional Cookies</b></li>
    </ul>
    <p class="policy-text">Type: Persistent Cookies</p>
    <p class="policy-text gap-bottom">
      Purpose: Remember user preferences (e.g., language, login details).
    </p>

    <ul class="policy-ul gap-bottom">
      <li><b>Analytics Cookies</b></li>
    </ul>
    <p class="policy-text">Type: Persistent Cookies</p>
    <p class="policy-text gap-bottom">
      Purpose: Track user behavior and website performance using Google
      Analytics.
    </p>

    <ul class="policy-ul gap-bottom">
      <li><b>Advertising Cookies</b></li>
    </ul>
    <p class="policy-text">Type: Persistent Cookies</p>
    <p class="policy-text">
      Purpose: Show relevant ads based on your browsing behavior.
    </p>

    <h2 class="policy-h2">4. Managing Cookies</h2>
    <p class="policy-text gap-bottom">
      You can manage your cookie preferences through your browser settings. If
      you disable cookies, some features of the website may not function
      properly.
    </p>
    <ul class="policy-ul">
      <li>
        <a href="https://support.google.com/accounts/answer/32050"
          >Manage cookies in Chrome
        </a>
      </li>
      <li>
        <a
          href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites-stored&redirectlocale=en-US"
          >Manage cookies in Firefox
        </a>
      </li>
      <li>
        <a
          href="https://support.microsoft.com/en-us/topic/how-to-delete-cookie-files-in-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc"
          >Manage cookies in Internet Explorer
        </a>
      </li>
      <li>
        <a
          href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac"
        >
          Manage cookies in Safari</a
        >
      </li>
    </ul>

    <h2 class="policy-h2">5. Third-Party Cookies</h2>
    <p class="policy-text">
      Some third-party services (e.g., Google Analytics, advertising networks)
      may use cookies to collect information. These cookies are subject to their
      own privacy policies.
    </p>

    <h2 class="policy-h2">6. Changes to This Policy</h2>
    <p class="policy-text">
      We may update this Cookies Policy periodically. Significant changes will
      be communicated via the website.
    </p>

    <h2 class="policy-h2">7. Contact Us</h2>
    <p class="policy-text">
      If you have any questions about this Cookies Policy, you can contact us at
      pconcept.sale@gmail.com.
    </p>
  </div>
</section>
