<section id="cooperation-scheme" class="cooperation-scheme">
  <div class="container">
    <h1 class="section-title">Зручна схема співпраці</h1>
    
    <div class="cooperation-scheme-content-wrapper">
      <p class="cooperation-scheme-text">Зростаємо разом!</p>
      <ul class="cooperation-scheme-list">
          <li class="cooperation-scheme-item">
            
            <h3>1</h3>
            <p>Розробка та виготовлення промислового зразка</p>
          </li>
          <li class="cooperation-scheme-item">
            
            <h3>2</h3>
            <p>Розрахунок вартості проєкту та підписання контракту</p>
          </li>
          <li class="cooperation-scheme-item">
            
            <h3>3</h3>
            <p>Закупівля матеріалів і запуск виробництва</p>
          </li>
          <li class="cooperation-scheme-item">
            
            <h3>4</h3>
            <p>Постачання та монтаж меблів у замовника</p>
          </li>
      </ul>
    </div>
  </div>
</section>
  
