<footer id="footer" class="footer">
  <div class="container">
    <ul class="footer-list">
        <li class="footer-item">
          <a href="./privacy-policy.html">Privacy Policy</a>
        </li>        
        <li class="footer-item">
          <a href="./terms-conditions.html">Terms &amp; Conditions</a>
        </li>        
        <li class="footer-item">
          <a href="./cookie-policy.html">Cookies Policy</a>
        </li>        
        <li class="footer-item">
          <a href="https://www.instagram.com/pconcept.com.ua/">Instagram</a>
        </li>        
        <li class="footer-item">
          <a href="https://www.facebook.com/pconcept.com.ua">Facebook</a>
        </li>        
    </ul>
    <p class="copiright">
      © 2025 ПромКонцепт. All rights reserved
    </p>
  </div>
</footer>
