<header id="header" class="header">
  <div class="container">
    <div class="menu-wrapper">
      <a href="/#"><img
        class="logo"
        src="/img/logo.png"
        alt="logo"
        width="48"
        height="48"
      /></a>  
      <nav class="menu">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/#about">Про нас</a>
          </li>          
          <li class="nav-item">
            <a href="/#production">Виробництво</a>
          </li>          
          <li class="nav-item">
            <a href="/#clients">Клієнти</a>
          </li>          
          <li class="nav-item">
            <a href="/#contacts">Контакти</a>
          </li>          
          <li class="nav-item">
            <a href="/#projects">Наші роботи</a>
          </li>          
        </ul>
        <button class="btn-close" aria-label="Close menu">
          <svg class="btn-close-icon" width="48" height="48">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </nav>
      <button class="btn-burger" aria-label="Menu">
        <svg class="btn-burger-icon" width="48" height="48">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
