<meta charset="UTF-8" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="title" content="ПромКонцепт – Комплексне виробництво меблів" />
<meta
  name="description"
  content="З 2003 року ми створюємо меблі для корпоративних та державних замовників. Масштабні проєкти, власні виробничі потужності, сучасний підхід."
/>
<meta
  name="keywords"
  content="меблі, product, виробництво меблів"
/>
<meta name="author" content="pconcept.com.ua">

<meta property="og:title" content="ПромКонцепт – Комплексне виробництво меблів" />
<meta
  property="og:description"
  content="З 2003 року ми створюємо меблі для корпоративних та державних замовників. Масштабні проєкти, власні виробничі потужності, сучасний підхід."
/>
<meta property="og:url" content="https://pconcept.com.ua/" />
<meta property="og:type" content="website" />

<link rel="canonical" href="https://pconcept.com.ua/">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"  rel="stylesheet" />

<link rel="stylesheet" href="/css/styles.css" />
