<section id="hero" class="hero">
  <div class="container">
    <div class="hero-content-wrapper">
      <!-- <img
        class="hero-img"
        src="/img/hero-background.jpg"
        alt="image"
        width="300"
        height="200"
      /> -->
      <h1 class="hero-title">ПромКонцепт</h1>
      <p class="hero-subtitle">Комплексне виробництво меблів</p>
      <!-- <a class="btn-play" href="#">
        <img src="/img/google-play.png" alt="google play" width="244" height="70" />
      </a> -->
    </div>
  </div>
</section>
