<div class="cookie-popup hidden" id="cookie-popup">
  <div class="container">
    <div class="cookie-popup-wrapper">
      <p class="cookie-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
      <div class="cookie-actions">
        <button id="accept-cookies" class="cookie-btn accept">
          Accept Cookies
        </button>
        <button id="decline-cookies" class="cookie-btn decline">
          Decline Cookies
        </button>
      </div>
    </div>
  </div>
</div>
