<section id="preferences" class="preferences">
  <div class="container">
    <h1 class="section-title">Наші переваги</h1>

    <div class="preferences-content-wrapper">
      <ul class="preferences-list">
        <li class="preferences-item">
          <img
            src="/img/preferences/preference-1.png"
            alt="preferences 1"
            width="48"
            height="48"
          />
          <h3>Енергоефективність</h3>
          <p>Тарифи на енергоносії суттєво нижчі, ніж у країнах ЄС</p>
        </li>
        <li class="preferences-item">
          <img
            src="/img/preferences/preference-2.png"
            alt="preferences 2"
            width="48"
            height="48"
          />
          <h3>Надійна сировина</h3>
          <p>
            Cпівпрацюємо з провідними постачальниками: SwisSpan, Kronospan,
            Egger
          </p>
        </li>
        <li class="preferences-item">
          <img
            src="/img/preferences/preference-3.png"
            alt="preferences 3"
            width="48"
            height="48"
          />
          <h3>Кваліфікований персонал</h3>
          <p>Кожен працівник має досвід та експертизу у виробництві меблів</p>
        </li>
        <li class="preferences-item">
          <img
            src="/img/preferences/preference-4.png"
            alt="preferences 4"
            width="48"
            height="48"
          />
          <h3>Власна логістика</h3>
          <p>
            Доставляємо меблі вчасно завдяки власному транспорту та партнерським
            компаніям
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
