<section id="production" class="production">
  <div class="container">
    <h1 class="section-title">Обсяг виробництва (у 2 зміни на місяць)</h1>

    <div class="production-content-wrapper">
      <p class="production-text">Ми можемо більше!</p>
      <ul class="production-list">
        <li class="production-item">
          <h3>6 000</h3>
          <p>офісних столів з тумбами</p>
        </li>
        <li class="production-item">
          <h3>4 000</h3>
          <p>ліжок</p>
        </li>
        <li class="production-item">
          <h3>2 000</h3>
          <p>комплектів меблів для офісу</p>
        </li>
        <li class="production-item">
          <h3>1 500</h3>
          <p>комплектів меблів для готельних кімнат</p>
        </li>
      </ul>
    </div>
  </div>
</section>
