<section id="projects" class="projects">
  <div class="container">
    <h1 class="section-title">Наші роботи</h1>
       
    <div class="projects-content-wrapper">
      <div class="swiper projects-swiper">
        <div class="swiper-wrapper projects-list">
          <div class="swiper-slide">
            <div class="projects-card">
              <img            
                src="/img/projects/project-1.jpg"
                alt="projects 1"
                width="300"
                height="400"
              />          
              
              
            </div>
          </div>
          <div class="swiper-slide">
            <div class="projects-card">
              <img            
                src="/img/projects/project-2.jpg"
                alt="projects 2"
                width="300"
                height="400"
              />          
              
              
            </div>
          </div>
          <div class="swiper-slide">
            <div class="projects-card">
              <img            
                src="/img/projects/project-3.jpg"
                alt="projects 3"
                width="300"
                height="400"
              />          
              
              
            </div>
          </div>
          <div class="swiper-slide">
            <div class="projects-card">
              <img            
                src="/img/projects/project-4.jpg"
                alt="projects 4"
                width="300"
                height="400"
              />          
              
              
            </div>
          </div>
          <div class="swiper-slide">
            <div class="projects-card">
              <img            
                src="/img/projects/project-5.jpg"
                alt="projects 5"
                width="300"
                height="400"
              />          
              
              
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>      
      </div>    
      
    </div>
  </div>
</section>
