<section class="policy">
  <div class="container">
    <h1 class="section-title">Terms & Conditions</h1>

    <p class="policy-text last-update">Last Updated: 2025-09-25</p>
    
    <p class="policy-text">
      These Terms and Conditions apply to the pconcept.com.ua website
      (hereinafter referred to as "Website"). By accessing or using our
      services, you agree to comply with and be bound by these Terms and
      Conditions. Please review them carefully before using our Website.
    </p>

    <h2 class="policy-h2">1. Acceptance of Terms</h2>
    <p class="policy-text">
      By accessing or using our Website, you acknowledge that you have read,
      understood, and agree to be bound by these Terms and Conditions. If you do
      not agree, please do not use the Website.
    </p>

    <h2 class="policy-h2">2. Intellectual Property</h2>
    <p class="policy-text gap-bottom">
      All content, including text, images, graphics, and trademarks, belongs to
      this website or its licensors and is protected by applicable copyright and
      trademark laws. Unauthorized reproduction, modification, or distribution
      is prohibited.
    </p>

    <p class="policy-text">
      Any unauthorized commercial use, resale, or redistribution of the
      Website’s content, including but not limited to its design, layout, or
      code, is strictly prohibited.
    </p>

    <h2 class="policy-h2">3. User Obligations</h2>

    <ul class="policy-ul gap-bottom">
      <li>You agree not to use the Website for any unlawful purposes.</li>
      <li>
        You must not attempt to interfere with the proper working of the
        Website.
      </li>
      <li>
        Any attempt to reverse-engineer, decompile, or extract the source code
        is strictly prohibited.
      </li>
    </ul>
    <p class="policy-text">
      You may not use automated systems, bots, or scripts to access or interact
      with the Website in any way that violates Google’s policies on spam and
      automated queries.
    </p>

    <h2 class="policy-h2">4. Third-Party Services and External Links</h2>
    <p class="policy-text gap-bottom">
      Please note that the Application utilizes third-party services that have
      their own Terms and Conditions. Below are the links to the Terms and
      Conditions of the third-party service providers used by the Application:
    </p>
    <ul class="policy-ul gap-bottom">
      <li>
        <a href="https://policies.google.com/terms"> Google Play Services </a>
      </li>
      <li>
        <a href="https://www.google.com/analytics/terms/"
          >Google Analytics for Firebase</a
        >
      </li>
      <li>
        <a href="https://mbasic.facebook.com/legal/terms/plain_text_terms/"
          >Facebook</a
        >
      </li>
    </ul>
    <p class="policy-text">
      By clicking on third-party links, you acknowledge that these services
      operate under their own terms and policies. We are not responsible for any
      data collection, practices, or content on these external sites.
    </p>

    <h2 class="policy-h2">5. Limitation of Liability</h2>
    <p class="policy-text gap-bottom">
      We are not responsible for any direct, indirect, incidental, or
      consequential damages arising from the use of our Website.
    </p>
    <p class="policy-text">
      We do not guarantee uninterrupted or error-free operation of the Website.
      We are not liable for any loss of data, business interruptions, or
      security breaches that may occur.
    </p>

    <h2 class="policy-h2">6. Privacy and Data Usage</h2>
    <p class="policy-text gap-bottom">
      The Website may collect and process personal data as described in our
      Privacy Policy.
    </p>
    <p class="policy-text">
      We do not sell or rent your personal data to third parties. We only share
      data with partners for analytics, security, and functionality
      improvements.
    </p>

    <h2 class="policy-h2">7. Changes to Terms</h2>
    <p class="policy-text gap-bottom">
      We reserve the right to modify these Terms at any time. Continued use of
      the Website after changes signifies acceptance of the updated Terms.
    </p>
    <p class="policy-text">
      Users will be notified of material changes to these terms via an update on
      the Website or through email (if provided).
    </p>

    <h2 class="policy-h2">8. Contact Us</h2>
    <p class="policy-text">
      If you have any questions or suggestions about the Terms and Conditions,
      please do not hesitate to contact us at pconcept.sale@gmail.com.
    </p>
  </div>
</section>
