

.contacts-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}




.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts-list li{
  display: flex;
  align-items: center;
  gap: 12px;  
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;  
}

.contacts-list li::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(/img/marker.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.contacts-img {  
  width: 100%;  
  margin-bottom: 20px;
}

@media only screen and (min-width: 1440px) {
  

  .contacts-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  

  .contacts-img {
    width: 325px;
    height: 255px;
    margin-bottom: 0px;    
  }
}
